@media print {
  .no-print {
    display: none;
  }
  .areaAgencia, .areaConta {
    border-color: white;
    border: 0px solid white;
  }
}

body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
}

.botao2, .botao1 {
  border-radius: 12px;
  padding: 12px 28px;
  background-color: #1b365f;
  color: white;
  font-size: 15px;
}

.areaAgencia {
  width: 50px;
  text-align: right;
}

.areaConta {
  width: 100px;
  text-align: right;
}

.valor {
  text-align: right;
  padding-left: 30px;
}

.linha {
  height: 25px;
}

.princ {
  padding-top: 30px;
  padding-bottom: 10px;
}
